Jhansi Property/Jhansi Property Automaton.json
{
    "name": "Integration WhatsApp Business Cloud",
    "flow": [
        {
            "id": 1,
            "module": "whatsapp-business-cloud:watchEvents",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 796151
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "test"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:whatsapp-business-cloud2",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "WhatsApp Business Account ID"
                    },
                    {
                        "name": "time",
                        "type": "date",
                        "label": "Time"
                    },
                    {
                        "name": "field",
                        "type": "text",
                        "label": "Field"
                    },
                    {
                        "name": "messaging_product",
                        "type": "text",
                        "label": "Messaging Product"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "display_phone_number",
                                "type": "text",
                                "label": "Display Phone Number"
                            },
                            {
                                "name": "phone_number_id",
                                "type": "text",
                                "label": "Phone Number ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "contacts",
                        "spec": {
                            "spec": [
                                {
                                    "name": "profile",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Profile"
                                },
                                {
                                    "name": "wa_id",
                                    "type": "text",
                                    "label": "WhatsApp ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Contacts"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "spec": [
                                {
                                    "name": "from",
                                    "type": "text",
                                    "label": "Sender"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "Message ID"
                                },
                                {
                                    "name": "timestamp",
                                    "type": "date",
                                    "label": "Timestamp"
                                },
                                {
                                    "name": "text",
                                    "spec": [
                                        {
                                            "name": "body",
                                            "type": "text",
                                            "label": "Body"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Text"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                },
                                {
                                    "name": "audio",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        },
                                        {
                                            "name": "voice",
                                            "type": "boolean",
                                            "label": "Voice"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Audio"
                                },
                                {
                                    "name": "video",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Video"
                                },
                                {
                                    "name": "document",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "File Name"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Document"
                                },
                                {
                                    "name": "contacts",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "spec": [
                                                    {
                                                        "name": "formatted_name",
                                                        "type": "text",
                                                        "label": "Formatted Name"
                                                    },
                                                    {
                                                        "name": "first_name",
                                                        "type": "text",
                                                        "label": "First Name"
                                                    },
                                                    {
                                                        "name": "last_name",
                                                        "type": "text",
                                                        "label": "Last Name"
                                                    },
                                                    {
                                                        "name": "middle_name",
                                                        "type": "text",
                                                        "label": "Middle Name"
                                                    },
                                                    {
                                                        "name": "suffix",
                                                        "type": "text",
                                                        "label": "Name Suffix"
                                                    },
                                                    {
                                                        "name": "prefix",
                                                        "type": "text",
                                                        "label": "Name Prefix"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "phones",
                                                "spec": [
                                                    {
                                                        "name": "phone",
                                                        "type": "text",
                                                        "label": "Phone"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Phones"
                                            },
                                            {
                                                "name": "emails",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "email",
                                                        "label": "Email"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Emails"
                                            },
                                            {
                                                "name": "org",
                                                "spec": [
                                                    {
                                                        "name": "company",
                                                        "type": "text",
                                                        "label": "Company"
                                                    },
                                                    {
                                                        "name": "department",
                                                        "type": "text",
                                                        "label": "Department"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Organization"
                                            },
                                            {
                                                "name": "urls",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "URLs"
                                            },
                                            {
                                                "name": "addresses",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "street",
                                                        "type": "text",
                                                        "label": "Street"
                                                    },
                                                    {
                                                        "name": "city",
                                                        "type": "text",
                                                        "label": "City"
                                                    },
                                                    {
                                                        "name": "zip",
                                                        "type": "text",
                                                        "label": "ZIP"
                                                    },
                                                    {
                                                        "name": "country",
                                                        "type": "text",
                                                        "label": "Country"
                                                    },
                                                    {
                                                        "name": "country_code",
                                                        "type": "text",
                                                        "label": "Country Code"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Addresses"
                                            },
                                            {
                                                "name": "birthday",
                                                "type": "text",
                                                "label": "Birthday"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Contacts"
                                },
                                {
                                    "name": "sticker",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Sticker"
                                },
                                {
                                    "name": "location",
                                    "spec": [
                                        {
                                            "name": "latitude",
                                            "type": "number",
                                            "label": "Latitude"
                                        },
                                        {
                                            "name": "longitude",
                                            "type": "number",
                                            "label": "Longitude"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "address",
                                            "type": "text",
                                            "label": "Address"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Location"
                                },
                                {
                                    "name": "context",
                                    "spec": [
                                        {
                                            "name": "from",
                                            "type": "text",
                                            "label": "From"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Context ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Context"
                                },
                                {
                                    "name": "button",
                                    "spec": [
                                        {
                                            "name": "payload",
                                            "type": "text",
                                            "label": "Payload"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Button"
                                },
                                {
                                    "name": "interactive",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "list_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "List Reply"
                                        },
                                        {
                                            "name": "button_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Button Reply"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Interactive"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Messages"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "global": true,
                                "pattern": "[a-z]*-[a-z]*",
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false,
                                "continueWhenNoRes": false,
                                "ignoreInfiniteLoopsWhenGlobal": false
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].text.body}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "{{1.messages[].text.body}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    },
                                    {
                                        "name": "ignoreInfiniteLoopsWhenGlobal",
                                        "type": "boolean",
                                        "label": "Ignore errors when there is an infinite search loop",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "i",
                                        "type": "uinteger",
                                        "label": "i"
                                    },
                                    {
                                        "name": "__IMTMATCH__",
                                        "type": "any",
                                        "label": "Fallback Match"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 3,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2395785
                            },
                            "mapper": {
                                "from": "drive",
                                "limit": "1",
                                "filter": [
                                    [
                                        {
                                            "a": "B",
                                            "b": "{{10.`__IMTMATCH__`}}",
                                            "o": "text:pattern:ci"
                                        }
                                    ]
                                ],
                                "sheetId": "CPT",
                                "sortOrder": "asc",
                                "spreadsheetId": "19GZhx9cRHLyV5N4f9qWpdOhYHk94WnHqlu8NgcmHksE",
                                "tableFirstRow": "A1:Z1",
                                "includesHeaders": true,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "orderBy": {
                                            "mode": "chose"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "CPT"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Jhansi Property List"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-Z"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (dhanistadigital@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "number",
                                        "label": "Maximum number of returned rows"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "postId (A)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "Slug (B)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "Site Name (C)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "Price (D)"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "Rupee (E)"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "Location (F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "Type (G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "Message (H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "Status (I)"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "(J)"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "(K)"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "(L)"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "(M)"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "(N)"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "(O)"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "(P)"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "(Q)"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "(R)"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "(S)"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "(T)"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "(U)"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "(V)"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "(W)"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "(X)"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "(Y)"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "(Z)"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2395753
                            },
                            "mapper": {
                                "fromId": "317400861450522",
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "interactive",
                                "interactive": {
                                    "type": "button",
                                    "body": {
                                        "text": "Site Name : {{3.`2`}}\nLocation : {{3.`5`}}\nPrice : {{3.`3`}}{{3.`4`}}"
                                    },
                                    "header": {
                                        "type": "image",
                                        "image": {
                                            "id": "{{3.`8`}}"
                                        }
                                    },
                                    "footer": {},
                                    "action": {
                                        "buttons": [
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "1 {{3.`1`}}",
                                                    "title": "location"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "2 {{3.`1`}}",
                                                    "title": "gallery"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "3 {{3.`1`}}",
                                                    "title": "broucher"
                                                }
                                            }
                                        ]
                                    }
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "test (Brij Mohan)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Test Number (+1 555-618-3546)"
                                        },
                                        "type": {
                                            "label": "Interactive"
                                        },
                                        "interactive": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Reply Buttons"
                                                },
                                                "header": {
                                                    "nested": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Image"
                                                        }
                                                    }
                                                },
                                                "action": {
                                                    "nested": {
                                                        "buttons": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "interactive",
                                        "type": "collection",
                                        "label": "Interactive",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "list",
                                                        "button"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "action",
                                                "type": "collection",
                                                "label": "Action",
                                                "spec": [
                                                    {
                                                        "name": "buttons",
                                                        "type": "array",
                                                        "label": "Buttons",
                                                        "validate": {
                                                            "maxItems": 3
                                                        },
                                                        "required": true,
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "hidden",
                                                                "label": "Button Type"
                                                            },
                                                            {
                                                                "name": "reply",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "Button ID",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 256
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Button Title",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 20
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Reply"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "body",
                                                "type": "collection",
                                                "label": "Body",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Body Text",
                                                        "validate": {
                                                            "max": 1024
                                                        },
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "header",
                                                "type": "collection",
                                                "label": "Header",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Header Type",
                                                        "validate": {
                                                            "enum": [
                                                                "text",
                                                                "image",
                                                                "video",
                                                                "document"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "image",
                                                        "type": "collection",
                                                        "label": "Image",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Media ID"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "url",
                                                                "label": "Media URL"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "footer",
                                                "type": "collection",
                                                "label": "Footer",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Footer Text",
                                                        "validate": {
                                                            "max": 60
                                                        }
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "pattern": "[a-z]*-[a-z]*",
                                "global": true,
                                "sensitive": true,
                                "multiline": false,
                                "singleline": false,
                                "continueWhenNoRes": false,
                                "ignoreInfiniteLoopsWhenGlobal": false
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "{{1.messages[].interactive.button_reply.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 450
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    },
                                    {
                                        "name": "ignoreInfiniteLoopsWhenGlobal",
                                        "type": "boolean",
                                        "label": "Ignore errors when there is an infinite search loop",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "type": "uinteger",
                                        "name": "i",
                                        "label": "i"
                                    },
                                    {
                                        "type": "any",
                                        "name": "__IMTMATCH__",
                                        "label": "Fallback Match"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2395785
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING",
                                "limit": "1",
                                "spreadsheetId": "19GZhx9cRHLyV5N4f9qWpdOhYHk94WnHqlu8NgcmHksE",
                                "sheetId": "CPT",
                                "includesHeaders": true,
                                "tableFirstRow": "A1:Z1",
                                "filter": [
                                    [
                                        {
                                            "a": "B",
                                            "o": "text:equal",
                                            "b": "{{18.`__IMTMATCH__`}}"
                                        }
                                    ]
                                ],
                                "sortOrder": "asc"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 450
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (dhanistadigital@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Jhansi Property List"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "CPT"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-Z"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        },
                                        "orderBy": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "number",
                                        "label": "Maximum number of returned rows"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "label": "Total number of bundles",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "label": "Bundle order position",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "label": "Row number",
                                        "type": "number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "label": "Spreadsheet ID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "label": "Sheet",
                                        "type": "text"
                                    },
                                    {
                                        "name": "0",
                                        "label": "postId (A)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "1",
                                        "label": "Slug (B)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "2",
                                        "label": "Site Name (C)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "3",
                                        "label": "Price (D)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "4",
                                        "label": "Rupee (E)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "5",
                                        "label": "Location (F)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "6",
                                        "label": "Type (G)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "7",
                                        "label": "Message (H)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "8",
                                        "label": "Image (I)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "9",
                                        "label": "Al (J)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "10",
                                        "label": "Lg (K)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "11",
                                        "label": "Gallery (L)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "12",
                                        "label": "(M)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "13",
                                        "label": "(N)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "14",
                                        "label": "(O)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "15",
                                        "label": "(P)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "16",
                                        "label": "(Q)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "17",
                                        "label": "(R)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "18",
                                        "label": "(S)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "19",
                                        "label": "(T)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "20",
                                        "label": "(U)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "21",
                                        "label": "(V)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "22",
                                        "label": "(W)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "23",
                                        "label": "(X)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "24",
                                        "label": "(Y)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "25",
                                        "label": "(Z)",
                                        "type": "text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 450
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 14,
                                            "module": "whatsapp-business-cloud:sendMessage",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 2395753
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{1.messages[].interactive.button_reply.title}}",
                                                            "b": "location",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "fromId": "317400861450522",
                                                "to": "{{1.contacts[].wa_id}}",
                                                "type": "location",
                                                "location": {
                                                    "latitude": "{{12.`9`}}",
                                                    "longitude": "{{12.`10`}}",
                                                    "name": "{{12.`2`}} Location"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "test (Brij Mohan)",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "whatsapp-business-cloud2"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "fromId": {
                                                            "mode": "chose",
                                                            "label": "Test Number (+1 555-618-3546)"
                                                        },
                                                        "type": {
                                                            "label": "Location"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:whatsapp-business-cloud2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "type": "hidden"
                                                    },
                                                    {
                                                        "name": "fromId",
                                                        "type": "select",
                                                        "label": "Sender ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "to",
                                                        "type": "text",
                                                        "label": "Receiver",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Message Type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "text",
                                                                "image",
                                                                "audio",
                                                                "video",
                                                                "document",
                                                                "sticker",
                                                                "location",
                                                                "contacts",
                                                                "interactive"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "location",
                                                        "type": "collection",
                                                        "label": "Location",
                                                        "spec": [
                                                            {
                                                                "name": "latitude",
                                                                "type": "number",
                                                                "label": "Latitude",
                                                                "validate": {
                                                                    "max": 90,
                                                                    "min": -90
                                                                },
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "longitude",
                                                                "type": "number",
                                                                "label": "Longitude",
                                                                "validate": {
                                                                    "max": 180,
                                                                    "min": -180
                                                                },
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "address",
                                                                "type": "text",
                                                                "label": "Address"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 17,
                                            "module": "whatsapp-business-cloud:sendMessage",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 2395753
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{1.messages[].interactive.button_reply.title}}",
                                                            "b": "gallery",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "to": "{{1.contacts[].wa_id}}",
                                                "type": "document",
                                                "fromId": "317400861450522",
                                                "document": {
                                                    "id": "{{12.`11`}}",
                                                    "caption": "{{12.`2`}} Gallery"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "type": {
                                                            "label": "Document"
                                                        },
                                                        "fromId": {
                                                            "mode": "chose",
                                                            "label": "Test Number (+1 555-618-3546)"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "whatsapp-business-cloud2"
                                                            },
                                                            "label": "test (Brij Mohan)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:whatsapp-business-cloud2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "type": "hidden"
                                                    },
                                                    {
                                                        "name": "fromId",
                                                        "type": "select",
                                                        "label": "Sender ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "to",
                                                        "type": "text",
                                                        "label": "Receiver",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Message Type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "text",
                                                                "image",
                                                                "audio",
                                                                "video",
                                                                "document",
                                                                "sticker",
                                                                "location",
                                                                "contacts",
                                                                "interactive"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "document",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Media ID"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "url",
                                                                "label": "Media URL"
                                                            },
                                                            {
                                                                "name": "caption",
                                                                "type": "text",
                                                                "label": "Caption"
                                                            },
                                                            {
                                                                "name": "filename",
                                                                "type": "text",
                                                                "label": "File Name"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Document"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}