Jhansi Property/Jhansi Empire WA.json
{
    "name": "Jhansi Empire",
    "flow": [
        {
            "id": 1,
            "module": "whatsapp-business-cloud:watchEvents",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 792146
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 600
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "New Jhansi Property"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:whatsapp-business-cloud2",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "WhatsApp Business Account ID"
                    },
                    {
                        "name": "time",
                        "type": "date",
                        "label": "Time"
                    },
                    {
                        "name": "field",
                        "type": "text",
                        "label": "Field"
                    },
                    {
                        "name": "messaging_product",
                        "type": "text",
                        "label": "Messaging Product"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "display_phone_number",
                                "type": "text",
                                "label": "Display Phone Number"
                            },
                            {
                                "name": "phone_number_id",
                                "type": "text",
                                "label": "Phone Number ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "contacts",
                        "spec": {
                            "spec": [
                                {
                                    "name": "profile",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Profile"
                                },
                                {
                                    "name": "wa_id",
                                    "type": "text",
                                    "label": "WhatsApp ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Contacts"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "spec": [
                                {
                                    "name": "from",
                                    "type": "text",
                                    "label": "Sender"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "Message ID"
                                },
                                {
                                    "name": "timestamp",
                                    "type": "date",
                                    "label": "Timestamp"
                                },
                                {
                                    "name": "text",
                                    "spec": [
                                        {
                                            "name": "body",
                                            "type": "text",
                                            "label": "Body"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Text"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                },
                                {
                                    "name": "audio",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        },
                                        {
                                            "name": "voice",
                                            "type": "boolean",
                                            "label": "Voice"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Audio"
                                },
                                {
                                    "name": "video",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Video"
                                },
                                {
                                    "name": "document",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "File Name"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Document"
                                },
                                {
                                    "name": "contacts",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "spec": [
                                                    {
                                                        "name": "formatted_name",
                                                        "type": "text",
                                                        "label": "Formatted Name"
                                                    },
                                                    {
                                                        "name": "first_name",
                                                        "type": "text",
                                                        "label": "First Name"
                                                    },
                                                    {
                                                        "name": "last_name",
                                                        "type": "text",
                                                        "label": "Last Name"
                                                    },
                                                    {
                                                        "name": "middle_name",
                                                        "type": "text",
                                                        "label": "Middle Name"
                                                    },
                                                    {
                                                        "name": "suffix",
                                                        "type": "text",
                                                        "label": "Name Suffix"
                                                    },
                                                    {
                                                        "name": "prefix",
                                                        "type": "text",
                                                        "label": "Name Prefix"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "phones",
                                                "spec": [
                                                    {
                                                        "name": "phone",
                                                        "type": "text",
                                                        "label": "Phone"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Phones"
                                            },
                                            {
                                                "name": "emails",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "email",
                                                        "label": "Email"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Emails"
                                            },
                                            {
                                                "name": "org",
                                                "spec": [
                                                    {
                                                        "name": "company",
                                                        "type": "text",
                                                        "label": "Company"
                                                    },
                                                    {
                                                        "name": "department",
                                                        "type": "text",
                                                        "label": "Department"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Organization"
                                            },
                                            {
                                                "name": "urls",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "URLs"
                                            },
                                            {
                                                "name": "addresses",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "street",
                                                        "type": "text",
                                                        "label": "Street"
                                                    },
                                                    {
                                                        "name": "city",
                                                        "type": "text",
                                                        "label": "City"
                                                    },
                                                    {
                                                        "name": "zip",
                                                        "type": "text",
                                                        "label": "ZIP"
                                                    },
                                                    {
                                                        "name": "country",
                                                        "type": "text",
                                                        "label": "Country"
                                                    },
                                                    {
                                                        "name": "country_code",
                                                        "type": "text",
                                                        "label": "Country Code"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Addresses"
                                            },
                                            {
                                                "name": "birthday",
                                                "type": "text",
                                                "label": "Birthday"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Contacts"
                                },
                                {
                                    "name": "sticker",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Sticker"
                                },
                                {
                                    "name": "location",
                                    "spec": [
                                        {
                                            "name": "latitude",
                                            "type": "number",
                                            "label": "Latitude"
                                        },
                                        {
                                            "name": "longitude",
                                            "type": "number",
                                            "label": "Longitude"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "address",
                                            "type": "text",
                                            "label": "Address"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Location"
                                },
                                {
                                    "name": "context",
                                    "spec": [
                                        {
                                            "name": "from",
                                            "type": "text",
                                            "label": "From"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Context ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Context"
                                },
                                {
                                    "name": "button",
                                    "spec": [
                                        {
                                            "name": "payload",
                                            "type": "text",
                                            "label": "Payload"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Button"
                                },
                                {
                                    "name": "interactive",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "list_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "List Reply"
                                        },
                                        {
                                            "name": "button_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Button Reply"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Interactive"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Messages"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 19,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2382982
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "broucher",
                                            "o": "text:notequal"
                                        },
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "location",
                                            "o": "text:notequal"
                                        },
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "contact",
                                            "o": "text:notequal"
                                        },
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "tour",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "interactive",
                                "fromId": "387521651107625",
                                "interactive": {
                                    "body": {
                                        "text": "🙏 नमस्कार, {{startcase(get(split(1.contacts[].profile.name; space); 1))}} जी ! Welcome to Jhansi Empire\n\n🔥 Explore The Royal Lifestyle experience with World Class AMENITIES:\n✅ 3 Tier Security\n✅ Shopping Complex\n✅ Swimming Pool\n✅ Electricity Backup For Common Areas\n✅ 24x7 Water Supply\n✅ Sufficient Parking\n✅ Exclusive Design\n✅ Kids Play Zone\n✅ Yoga Meditation Zone\n✅ Temple\n✅ Pinned At Premium Land\n✅ Fire Safety Equipment Installation\n\n🔥 JDA APPROVED | RERA : UPRERAPRJ657125\n\n🔥 Price ₹64.75 Lakh onward\n\n✔️ TYPES : 3BHK | 3BHK+S | 4BHK+S\n✔️ SIZES : 1850 sq.ft. | 1920 sq.ft. | 2050 sq.ft. | 2880 sq.ft.\n✔️ PROJECT APPROVED BY : SBI | Bank of Baroda\n\n📌 Gwalior-Shivpuri Bypass Near Lahargird Police Chowki, Jhansi (UP)\n\n📞 Call : https://pariflex1.github.io/call/7080677714"
                                    },
                                    "type": "button",
                                    "action": {
                                        "buttons": [
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "location",
                                                    "title": "Location"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "tour",
                                                    "title": "Video Tour"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "broucher",
                                                    "title": "Broucher"
                                                }
                                            }
                                        ]
                                    },
                                    "footer": {},
                                    "header": {
                                        "type": "image",
                                        "image": {
                                            "id": "1559891788260939"
                                        }
                                    }
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0,
                                    "name": "Welcome Message"
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Interactive"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Jhansi Property (+91 63941 72884)"
                                        },
                                        "interactive": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Reply Buttons"
                                                },
                                                "action": {
                                                    "nested": {
                                                        "buttons": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "header": {
                                                    "nested": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Image"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Jhansi Propoerty  (The Rising)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "interactive",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "list",
                                                        "button"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "action",
                                                "spec": [
                                                    {
                                                        "name": "buttons",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "hidden",
                                                                "label": "Button Type"
                                                            },
                                                            {
                                                                "name": "reply",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "Button ID",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 256
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Button Title",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 20
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Reply"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Buttons",
                                                        "required": true,
                                                        "validate": {
                                                            "maxItems": 3
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Action"
                                            },
                                            {
                                                "name": "body",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Body Text",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1024
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Body"
                                            },
                                            {
                                                "name": "header",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Header Type",
                                                        "validate": {
                                                            "enum": [
                                                                "text",
                                                                "image",
                                                                "video",
                                                                "document"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "image",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Media ID"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "url",
                                                                "label": "Media URL"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Image"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Header"
                                            },
                                            {
                                                "name": "footer",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Footer Text",
                                                        "validate": {
                                                            "max": 60
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Footer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Interactive"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 20,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 833817
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].text.body}}",
                                            "b": "Jhansi Empire",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{formatDate(now; \"DD-MM-YYYY HH:mm\")}}",
                                    "1": "{{1.contacts[].profile.name}}",
                                    "2": "{{1.contacts[].wa_id}}",
                                    "4": "{{1.messages[].text.body}}",
                                    "5": "Facebook",
                                    "6": "Jhansi Empire"
                                },
                                "sheetId": "Spacemooncity",
                                "spreadsheetId": "/1Y9HDNQNU_XYDoCMdPMv0qifrV90wh40zSI72x7-pArs",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0,
                                    "name": "Lead Add"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Spacemooncity"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "HTML FORM - DATA"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Timestamp (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Client Name (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Contact (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "About (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Notes (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Lead From (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Site (G)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (dhanistadigital@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Timestamp (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Client Name (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Contact (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "About (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Notes (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Lead From (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Site (G)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "https://www.privyr.com/api/v1/incoming-leads/0vZfjMQw/IANc3Vlz#generic-webhook",
                                "data": "{\n\t\t\"name\": \"{{1.contacts[].profile.name}}\",\n\t\t\"phone\": \"{{1.contacts[].wa_id}}\",\n\t\t\"other_fields\": {\n\t\t\"message\": \"{{1.messages[].text.body}}\",\n\t\t\"from\": \"Facebook\"\n\t}\n}",
                                "gzip": true,
                                "method": "post",
                                "headers": [],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 16,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2382982
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "location",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "location",
                                "fromId": "387521651107625",
                                "location": {
                                    "name": "Jhansi Empire",
                                    "address": "Jhansi Empire, Near lehargird police chowki, Gwalior, Shivpuri - Jhansi Rd, Jhansi, Uttar Pradesh",
                                    "latitude": "25.47464",
                                    "longitude": "78.54061"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300,
                                    "name": "Location"
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Location"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Jhansi Property (+91 63941 72884)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Jhansi Propoerty  (The Rising)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "location",
                                        "spec": [
                                            {
                                                "name": "latitude",
                                                "type": "number",
                                                "label": "Latitude",
                                                "required": true,
                                                "validate": {
                                                    "max": 90,
                                                    "min": -90
                                                }
                                            },
                                            {
                                                "name": "longitude",
                                                "type": "number",
                                                "label": "Longitude",
                                                "required": true,
                                                "validate": {
                                                    "max": 180,
                                                    "min": -180
                                                }
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "address",
                                                "type": "text",
                                                "label": "Address"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Location"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 17,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2382982
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "interactive",
                                "fromId": "387521651107625",
                                "interactive": {
                                    "body": {
                                        "text": "Chose you option 👇"
                                    },
                                    "type": "button",
                                    "action": {
                                        "buttons": [
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "tour",
                                                    "title": "Tour Video"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "broucher",
                                                    "title": "Broucher"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "contact",
                                                    "title": "Contact"
                                                }
                                            }
                                        ]
                                    },
                                    "footer": {},
                                    "header": {}
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Interactive"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Jhansi Property (+91 63941 72884)"
                                        },
                                        "interactive": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Reply Buttons"
                                                },
                                                "action": {
                                                    "nested": {
                                                        "buttons": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "header": {
                                                    "nested": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Jhansi Propoerty  (The Rising)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "interactive",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "list",
                                                        "button"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "action",
                                                "spec": [
                                                    {
                                                        "name": "buttons",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "hidden",
                                                                "label": "Button Type"
                                                            },
                                                            {
                                                                "name": "reply",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "Button ID",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 256
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Button Title",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 20
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Reply"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Buttons",
                                                        "required": true,
                                                        "validate": {
                                                            "maxItems": 3
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Action"
                                            },
                                            {
                                                "name": "body",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Body Text",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1024
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Body"
                                            },
                                            {
                                                "name": "header",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Header Type",
                                                        "validate": {
                                                            "enum": [
                                                                "text",
                                                                "image",
                                                                "video",
                                                                "document"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Header"
                                            },
                                            {
                                                "name": "footer",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Footer Text",
                                                        "validate": {
                                                            "max": 60
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Footer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Interactive"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2382982
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "tour",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "video",
                                "video": {
                                    "id": "507459488458394",
                                    "caption": "Tour Video Jhansi Empire"
                                },
                                "fromId": "387521651107625"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 600,
                                    "name": "Video"
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Video"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Jhansi Property (+91 63941 72884)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Jhansi Propoerty  (The Rising)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "video",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Media ID"
                                            },
                                            {
                                                "name": "link",
                                                "type": "url",
                                                "label": "Media URL"
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": "Caption"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Video"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2382982
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "interactive",
                                "fromId": "387521651107625",
                                "interactive": {
                                    "body": {
                                        "text": "Chose you option 👇"
                                    },
                                    "type": "button",
                                    "action": {
                                        "buttons": [
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "location",
                                                    "title": "Location"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "broucher",
                                                    "title": "Broucher"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "contact",
                                                    "title": "Contact"
                                                }
                                            }
                                        ]
                                    },
                                    "footer": {},
                                    "header": {}
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Interactive"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Jhansi Property (+91 63941 72884)"
                                        },
                                        "interactive": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Reply Buttons"
                                                },
                                                "action": {
                                                    "nested": {
                                                        "buttons": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "header": {
                                                    "nested": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Jhansi Propoerty  (The Rising)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "interactive",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "list",
                                                        "button"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "action",
                                                "spec": [
                                                    {
                                                        "name": "buttons",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "hidden",
                                                                "label": "Button Type"
                                                            },
                                                            {
                                                                "name": "reply",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "Button ID",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 256
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Button Title",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 20
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Reply"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Buttons",
                                                        "required": true,
                                                        "validate": {
                                                            "maxItems": 3
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Action"
                                            },
                                            {
                                                "name": "body",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Body Text",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1024
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Body"
                                            },
                                            {
                                                "name": "header",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Header Type",
                                                        "validate": {
                                                            "enum": [
                                                                "text",
                                                                "image",
                                                                "video",
                                                                "document"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Header"
                                            },
                                            {
                                                "name": "footer",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Footer Text",
                                                        "validate": {
                                                            "max": 60
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Footer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Interactive"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 14,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2382982
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "broucher",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "document",
                                "fromId": "387521651107625",
                                "document": {
                                    "id": "1021130896152508",
                                    "caption": "Broucher Jhansi Empire",
                                    "filename": "Broucher Jhansi Empire"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 900,
                                    "name": "Broucher"
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Document"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Jhansi Property (+91 63941 72884)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Jhansi Propoerty  (The Rising)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "document",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Media ID"
                                            },
                                            {
                                                "name": "link",
                                                "type": "url",
                                                "label": "Media URL"
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": "Caption"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "text",
                                                "label": "File Name"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Document"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 22,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2382982
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "interactive",
                                "fromId": "387521651107625",
                                "interactive": {
                                    "body": {
                                        "text": "Chose you option 👇"
                                    },
                                    "type": "button",
                                    "action": {
                                        "buttons": [
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "tour",
                                                    "title": "Tour Video"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "location",
                                                    "title": "Location"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "contact",
                                                    "title": "Contact"
                                                }
                                            }
                                        ]
                                    },
                                    "footer": {},
                                    "header": {}
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 900
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Interactive"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Jhansi Property (+91 63941 72884)"
                                        },
                                        "interactive": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Reply Buttons"
                                                },
                                                "action": {
                                                    "nested": {
                                                        "buttons": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "header": {
                                                    "nested": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Jhansi Propoerty  (The Rising)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "interactive",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "list",
                                                        "button"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "action",
                                                "spec": [
                                                    {
                                                        "name": "buttons",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "hidden",
                                                                "label": "Button Type"
                                                            },
                                                            {
                                                                "name": "reply",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "Button ID",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 256
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Button Title",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 20
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Reply"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Buttons",
                                                        "required": true,
                                                        "validate": {
                                                            "maxItems": 3
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Action"
                                            },
                                            {
                                                "name": "body",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Body Text",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1024
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Body"
                                            },
                                            {
                                                "name": "header",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Header Type",
                                                        "validate": {
                                                            "enum": [
                                                                "text",
                                                                "image",
                                                                "video",
                                                                "document"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Header"
                                            },
                                            {
                                                "name": "footer",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Footer Text",
                                                        "validate": {
                                                            "max": 60
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Footer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Interactive"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 25,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2382982
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].interactive.list_reply.id}}",
                                            "b": "contact",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "contacts",
                                "fromId": "387521651107625",
                                "contacts": [
                                    {
                                        "org": {
                                            "company": "Jhansi Empire"
                                        },
                                        "name": {
                                            "last_name": "Empire",
                                            "first_name": "Jhansi ",
                                            "formatted_name": "Jhansi Empire"
                                        },
                                        "phones": [
                                            {
                                                "type": "MAIN",
                                                "phone": "917080677714",
                                                "wa_id": "917080677714"
                                            }
                                        ],
                                        "addresses": [
                                            {
                                                "zip": "284003",
                                                "city": "Jhansi",
                                                "type": "WORK",
                                                "street": "Gwalior-Shivpuri Bypass Near Lahargird Police Chowki",
                                                "country": "India",
                                                "country_code": "+91"
                                            }
                                        ]
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 1200,
                                    "name": "Contact"
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Contacts"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Jhansi Property (+91 63941 72884)"
                                        },
                                        "contacts": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "org": {
                                                        "collapsed": true
                                                    },
                                                    "name": {
                                                        "collapsed": true
                                                    },
                                                    "urls": {
                                                        "mode": "chose",
                                                        "collapsed": true
                                                    },
                                                    "emails": {
                                                        "mode": "chose",
                                                        "collapsed": true
                                                    },
                                                    "phones": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "type": {
                                                                    "mode": "chose",
                                                                    "label": "Main"
                                                                }
                                                            }
                                                        ],
                                                        "collapsed": true
                                                    },
                                                    "addresses": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "type": {
                                                                    "mode": "chose",
                                                                    "label": "Work"
                                                                }
                                                            }
                                                        ],
                                                        "collapsed": true
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Jhansi Propoerty  (The Rising)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "contacts",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "spec": [
                                                    {
                                                        "name": "formatted_name",
                                                        "type": "text",
                                                        "label": "Formatted Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "type": "html",
                                                        "label": "At least one of the following needs to be included."
                                                    },
                                                    {
                                                        "name": "first_name",
                                                        "type": "text",
                                                        "label": "First Name"
                                                    },
                                                    {
                                                        "name": "last_name",
                                                        "type": "text",
                                                        "label": "Last Name"
                                                    },
                                                    {
                                                        "name": "middle_name",
                                                        "type": "text",
                                                        "label": "Middle Name"
                                                    },
                                                    {
                                                        "name": "suffix",
                                                        "type": "text",
                                                        "label": "Name Suffix"
                                                    },
                                                    {
                                                        "name": "prefix",
                                                        "type": "text",
                                                        "label": "Name Prefix"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "phones",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Type",
                                                        "options": [
                                                            {
                                                                "label": "Main",
                                                                "value": "MAIN"
                                                            },
                                                            {
                                                                "label": "Home",
                                                                "value": "HOME"
                                                            },
                                                            {
                                                                "label": "Work",
                                                                "value": "WORK"
                                                            },
                                                            {
                                                                "label": "Cell",
                                                                "value": "CELL"
                                                            },
                                                            {
                                                                "label": "iPhone",
                                                                "value": "IPHONE"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "wa_id",
                                                        "type": "text",
                                                        "label": "WhatsApp ID"
                                                    },
                                                    {
                                                        "name": "phone",
                                                        "type": "text",
                                                        "label": "Phone"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Phones"
                                            },
                                            {
                                                "name": "emails",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Type",
                                                        "options": [
                                                            {
                                                                "label": "Home",
                                                                "value": "HOME"
                                                            },
                                                            {
                                                                "label": "Work",
                                                                "value": "WORK"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "email",
                                                        "type": "email",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Emails"
                                            },
                                            {
                                                "name": "org",
                                                "spec": [
                                                    {
                                                        "name": "company",
                                                        "type": "text",
                                                        "label": "Company"
                                                    },
                                                    {
                                                        "name": "department",
                                                        "type": "text",
                                                        "label": "Department"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Organization"
                                            },
                                            {
                                                "name": "urls",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Type",
                                                        "options": [
                                                            {
                                                                "label": "Home",
                                                                "value": "HOME"
                                                            },
                                                            {
                                                                "label": "Work",
                                                                "value": "WORK"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "URLs"
                                            },
                                            {
                                                "name": "addresses",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Type",
                                                        "options": [
                                                            {
                                                                "label": "Home",
                                                                "value": "HOME"
                                                            },
                                                            {
                                                                "label": "Work",
                                                                "value": "WORK"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "street",
                                                        "type": "text",
                                                        "label": "Street"
                                                    },
                                                    {
                                                        "name": "city",
                                                        "type": "text",
                                                        "label": "City"
                                                    },
                                                    {
                                                        "name": "zip",
                                                        "type": "text",
                                                        "label": "ZIP"
                                                    },
                                                    {
                                                        "name": "country",
                                                        "type": "text",
                                                        "label": "Country"
                                                    },
                                                    {
                                                        "name": "country_code",
                                                        "type": "text",
                                                        "label": "Country Code"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Addresses"
                                            },
                                            {
                                                "name": "birthday",
                                                "type": "text",
                                                "label": "Birthday"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Contacts",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}