Mannat/Raksa Rajpur.json
{
    "name": "Mannat Group Raksa",
    "flow": [
        {
            "id": 1,
            "module": "whatsapp-business-cloud:watchEvents",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1517033
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 750
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Raksa"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:whatsapp-business-cloud2",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "WhatsApp Business Account ID"
                    },
                    {
                        "name": "time",
                        "type": "date",
                        "label": "Time"
                    },
                    {
                        "name": "field",
                        "type": "text",
                        "label": "Field"
                    },
                    {
                        "name": "messaging_product",
                        "type": "text",
                        "label": "Messaging Product"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "display_phone_number",
                                "type": "text",
                                "label": "Display Phone Number"
                            },
                            {
                                "name": "phone_number_id",
                                "type": "text",
                                "label": "Phone Number ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "contacts",
                        "spec": {
                            "spec": [
                                {
                                    "name": "profile",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Profile"
                                },
                                {
                                    "name": "wa_id",
                                    "type": "text",
                                    "label": "WhatsApp ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Contacts"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "spec": [
                                {
                                    "name": "from",
                                    "type": "text",
                                    "label": "Sender"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "Message ID"
                                },
                                {
                                    "name": "timestamp",
                                    "type": "date",
                                    "label": "Timestamp"
                                },
                                {
                                    "name": "text",
                                    "spec": [
                                        {
                                            "name": "body",
                                            "type": "text",
                                            "label": "Body"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Text"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                },
                                {
                                    "name": "audio",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        },
                                        {
                                            "name": "voice",
                                            "type": "boolean",
                                            "label": "Voice"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Audio"
                                },
                                {
                                    "name": "video",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Video"
                                },
                                {
                                    "name": "document",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "File Name"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Document"
                                },
                                {
                                    "name": "contacts",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "spec": [
                                                    {
                                                        "name": "formatted_name",
                                                        "type": "text",
                                                        "label": "Formatted Name"
                                                    },
                                                    {
                                                        "name": "first_name",
                                                        "type": "text",
                                                        "label": "First Name"
                                                    },
                                                    {
                                                        "name": "last_name",
                                                        "type": "text",
                                                        "label": "Last Name"
                                                    },
                                                    {
                                                        "name": "middle_name",
                                                        "type": "text",
                                                        "label": "Middle Name"
                                                    },
                                                    {
                                                        "name": "suffix",
                                                        "type": "text",
                                                        "label": "Name Suffix"
                                                    },
                                                    {
                                                        "name": "prefix",
                                                        "type": "text",
                                                        "label": "Name Prefix"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "phones",
                                                "spec": [
                                                    {
                                                        "name": "phone",
                                                        "type": "text",
                                                        "label": "Phone"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Phones"
                                            },
                                            {
                                                "name": "emails",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "email",
                                                        "label": "Email"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Emails"
                                            },
                                            {
                                                "name": "org",
                                                "spec": [
                                                    {
                                                        "name": "company",
                                                        "type": "text",
                                                        "label": "Company"
                                                    },
                                                    {
                                                        "name": "department",
                                                        "type": "text",
                                                        "label": "Department"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Organization"
                                            },
                                            {
                                                "name": "urls",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "URLs"
                                            },
                                            {
                                                "name": "addresses",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "street",
                                                        "type": "text",
                                                        "label": "Street"
                                                    },
                                                    {
                                                        "name": "city",
                                                        "type": "text",
                                                        "label": "City"
                                                    },
                                                    {
                                                        "name": "zip",
                                                        "type": "text",
                                                        "label": "ZIP"
                                                    },
                                                    {
                                                        "name": "country",
                                                        "type": "text",
                                                        "label": "Country"
                                                    },
                                                    {
                                                        "name": "country_code",
                                                        "type": "text",
                                                        "label": "Country Code"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Addresses"
                                            },
                                            {
                                                "name": "birthday",
                                                "type": "text",
                                                "label": "Birthday"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Contacts"
                                },
                                {
                                    "name": "sticker",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Sticker"
                                },
                                {
                                    "name": "location",
                                    "spec": [
                                        {
                                            "name": "latitude",
                                            "type": "number",
                                            "label": "Latitude"
                                        },
                                        {
                                            "name": "longitude",
                                            "type": "number",
                                            "label": "Longitude"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "address",
                                            "type": "text",
                                            "label": "Address"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Location"
                                },
                                {
                                    "name": "context",
                                    "spec": [
                                        {
                                            "name": "from",
                                            "type": "text",
                                            "label": "From"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Context ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Context"
                                },
                                {
                                    "name": "button",
                                    "spec": [
                                        {
                                            "name": "payload",
                                            "type": "text",
                                            "label": "Payload"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Button"
                                },
                                {
                                    "name": "interactive",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "list_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "List Reply"
                                        },
                                        {
                                            "name": "button_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Button Reply"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Interactive"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Messages"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 750
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 24,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2736378
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "visit",
                                            "o": "text:notequal"
                                        },
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "gallery",
                                            "o": "text:notequal"
                                        },
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "location",
                                            "o": "text:notequal"
                                        },
                                        {
                                            "a": "{{1.messages[].text.body}}",
                                            "b": "Plot Visit Booking",
                                            "o": "text:notcontain"
                                        },
                                        {
                                            "a": "{{1.messages[].text.body}}",
                                            "b": "Date",
                                            "o": "text:notcontain"
                                        },
                                        {
                                            "a": "{{1.messages[].text.body}}",
                                            "b": "Time",
                                            "o": "text:notcontain"
                                        },
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "layout",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "interactive",
                                "fromId": "382238911636691",
                                "interactive": {
                                    "body": {
                                        "text": "🙏 नमस्कार, {{startcase(get(split(1.contacts[].profile.name; space); 1))}} जी !\n\n🔥 विभिन्न साईजों के प्लॉट उपलब्ध है।\n🔥 कीमत 649/- Sq.Ft.\n\nविशेषताएँ\n✅ 25 फीट चौड़ी एपेक्स की रोड\n✅ मेन डामर रोड\n✅ पानी की पाईप लाइन\n✅ बिजली व्यवस्था\n✅ हरा भरा वातावरण\n✅ रेजिडेंशियल-R (आवासिय) अप्रूव\n✅ 100% लोन की सुविधा\n\n📍 लोकेशन - गैस गोदाम के पास, राजापुर रोड, रक्सा, झाँसी\n\nकॉल करें 👇 \nhttps://pariflex1.github.io/call/7905845157\n\nया व्हाट्सऐप करें 👇\nhttps://wa.me/917905845157"
                                    },
                                    "type": "button",
                                    "action": {
                                        "buttons": [
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "location",
                                                    "title": "लोकेशन मैप देखें"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "gallery",
                                                    "title": "प्लॉट गैलरी देखें"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "layout",
                                                    "title": "नक्शा प्लान देखें"
                                                }
                                            }
                                        ]
                                    },
                                    "footer": {},
                                    "header": {
                                        "type": "image",
                                        "image": {
                                            "id": "1677290866445089"
                                        }
                                    }
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0,
                                    "name": "Welcome Message"
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Interactive"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Mannat Group (+91 81889 72797)"
                                        },
                                        "interactive": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Reply Buttons"
                                                },
                                                "action": {
                                                    "nested": {
                                                        "buttons": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "header": {
                                                    "nested": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Image"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Raksa (Brij Mohan)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "interactive",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "list",
                                                        "button"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "action",
                                                "spec": [
                                                    {
                                                        "name": "buttons",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "hidden",
                                                                "label": "Button Type"
                                                            },
                                                            {
                                                                "name": "reply",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "Button ID",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 256
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Button Title",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 20
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Reply"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Buttons",
                                                        "required": true,
                                                        "validate": {
                                                            "maxItems": 3
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Action"
                                            },
                                            {
                                                "name": "body",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Body Text",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1024
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Body"
                                            },
                                            {
                                                "name": "header",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Header Type",
                                                        "validate": {
                                                            "enum": [
                                                                "text",
                                                                "image",
                                                                "video",
                                                                "document"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "image",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Media ID"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "url",
                                                                "label": "Media URL"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Image"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Header"
                                            },
                                            {
                                                "name": "footer",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Footer Text",
                                                        "validate": {
                                                            "max": 60
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Footer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Interactive"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2736379
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].text.body}}",
                                            "b": "नमस्ते!",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{formatDate(now; \"DD-MM-YYYY HH:mm\")}}",
                                    "1": "Facebook",
                                    "2": "रक्सा_राजापुर रोड_₹_649/sq.ft",
                                    "3": "{{1.contacts[].profile.name}}",
                                    "4": "{{1.contacts[].wa_id}}",
                                    "5": "{{1.messages[].text.body}}"
                                },
                                "sheetId": "Karondi Mata",
                                "spreadsheetId": "/1HhOZTWv5UYll4QAtJk6gPDVXv4mt5127n5AaTdBZbag",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0,
                                    "name": "Lead Add"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Select by path"
                                        },
                                        "sheetId": {
                                            "label": "Karondi Mata"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "The Risign"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Date (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Lead Source (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Project (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Name (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Contact (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Massage (F)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Date (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Lead Source (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Project (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Name (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Contact (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Massage (F)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 35,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "https://www.privyr.com/api/v1/incoming-leads/0vZfjMQw/4Bx3N8w8#generic-webhook",
                                "data": "{\n\t\t\"name\": \"{{1.contacts[].profile.name}}\",\n\t\t\"phone\": \"{{1.contacts[].wa_id}}\",\n\t\t\"other_fields\": {\n\t\t\"message\": \"{{1.messages[].text.body}}\",\n\t\t\"site\": \"Raksa Plot 649/-\"\n\t}\n}",
                                "gzip": true,
                                "method": "post",
                                "headers": [],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 38,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2736378
                            },
                            "mapper": {
                                "to": "917905845157",
                                "text": {
                                    "body": "रक्सा प्लॉट 649/-\nName: {{1.contacts[].profile.name}}\nContact: {{1.contacts[].wa_id}}\nMessage: {{1.messages[].text.body}}\n\nhttps://wa.me/{{1.contacts[].wa_id}}",
                                    "preview_url": false
                                },
                                "type": "text",
                                "fromId": "382238911636691"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "text": {
                                            "nested": {
                                                "preview_url": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "type": {
                                            "label": "Text"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Mannat Group (+91 81889 72797)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Raksa (Brij Mohan)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "body",
                                                "type": "text",
                                                "label": "Body",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            },
                                            {
                                                "name": "preview_url",
                                                "type": "boolean",
                                                "label": "Preview URL",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2736378
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "location",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "fromId": "382238911636691",
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "location",
                                "location": {
                                    "latitude": "25.445709",
                                    "longitude": "78.457303",
                                    "name": "Raksa Plot Site"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300,
                                    "name": "Location"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Raksa (Brij Mohan)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Mannat Group (+91 81889 72797)"
                                        },
                                        "type": {
                                            "label": "Location"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "location",
                                        "type": "collection",
                                        "label": "Location",
                                        "spec": [
                                            {
                                                "name": "latitude",
                                                "type": "number",
                                                "label": "Latitude",
                                                "validate": {
                                                    "max": 90,
                                                    "min": -90
                                                },
                                                "required": true
                                            },
                                            {
                                                "name": "longitude",
                                                "type": "number",
                                                "label": "Longitude",
                                                "validate": {
                                                    "max": 180,
                                                    "min": -180
                                                },
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "address",
                                                "type": "text",
                                                "label": "Address"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 26,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2736378
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "interactive",
                                "fromId": "382238911636691",
                                "interactive": {
                                    "body": {
                                        "text": "अपना ऑप्शन चुनें 👇"
                                    },
                                    "type": "button",
                                    "action": {
                                        "buttons": [
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "gallery",
                                                    "title": "प्लॉट गैलरी देखें"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "layout",
                                                    "title": "नक्शा प्लान देखें"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "visit",
                                                    "title": "विजिट बुक करें"
                                                }
                                            }
                                        ]
                                    },
                                    "footer": {},
                                    "header": {}
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Interactive"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Mannat Group (+91 81889 72797)"
                                        },
                                        "interactive": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Reply Buttons"
                                                },
                                                "action": {
                                                    "nested": {
                                                        "buttons": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "header": {
                                                    "nested": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Raksa (Brij Mohan)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "interactive",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "list",
                                                        "button"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "action",
                                                "spec": [
                                                    {
                                                        "name": "buttons",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "hidden",
                                                                "label": "Button Type"
                                                            },
                                                            {
                                                                "name": "reply",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "Button ID",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 256
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Button Title",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 20
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Reply"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Buttons",
                                                        "required": true,
                                                        "validate": {
                                                            "maxItems": 3
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Action"
                                            },
                                            {
                                                "name": "body",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Body Text",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1024
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Body"
                                            },
                                            {
                                                "name": "header",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Header Type",
                                                        "validate": {
                                                            "enum": [
                                                                "text",
                                                                "image",
                                                                "video",
                                                                "document"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Header"
                                            },
                                            {
                                                "name": "footer",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Footer Text",
                                                        "validate": {
                                                            "max": 60
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Footer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Interactive"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2736378
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "gallery",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "document",
                                "fromId": "382238911636691",
                                "document": {
                                    "id": "8111675182232938",
                                    "caption": "Raksa Plot Site Gallery",
                                    "filename": "Raksa Plot Site Gallery"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 600,
                                    "name": "Gellary"
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Document"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Mannat Group (+91 81889 72797)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Raksa (Brij Mohan)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "document",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Media ID"
                                            },
                                            {
                                                "name": "link",
                                                "type": "url",
                                                "label": "Media URL"
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": "Caption"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "text",
                                                "label": "File Name"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Document"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 28,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2736378
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "interactive",
                                "fromId": "382238911636691",
                                "interactive": {
                                    "body": {
                                        "text": "अपना ऑप्शन चुनें 👇"
                                    },
                                    "type": "button",
                                    "action": {
                                        "buttons": [
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "location",
                                                    "title": "लोकेशन मैप देखें"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "layout",
                                                    "title": "नक्शा प्लान देखें"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "visit",
                                                    "title": "विजिट बुक करें"
                                                }
                                            }
                                        ]
                                    },
                                    "footer": {},
                                    "header": {}
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Interactive"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Mannat Group (+91 81889 72797)"
                                        },
                                        "interactive": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Reply Buttons"
                                                },
                                                "action": {
                                                    "nested": {
                                                        "buttons": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "header": {
                                                    "nested": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Raksa (Brij Mohan)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "interactive",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "list",
                                                        "button"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "action",
                                                "spec": [
                                                    {
                                                        "name": "buttons",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "hidden",
                                                                "label": "Button Type"
                                                            },
                                                            {
                                                                "name": "reply",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "Button ID",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 256
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Button Title",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 20
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Reply"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Buttons",
                                                        "required": true,
                                                        "validate": {
                                                            "maxItems": 3
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Action"
                                            },
                                            {
                                                "name": "body",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Body Text",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1024
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Body"
                                            },
                                            {
                                                "name": "header",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Header Type",
                                                        "validate": {
                                                            "enum": [
                                                                "text",
                                                                "image",
                                                                "video",
                                                                "document"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Header"
                                            },
                                            {
                                                "name": "footer",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Footer Text",
                                                        "validate": {
                                                            "max": 60
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Footer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Interactive"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 36,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2736378
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "layout",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "fromId": "382238911636691",
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "image",
                                "image": {
                                    "id": "1215355493161284",
                                    "caption": "Layout Plan (Raksa Plot Site)"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 900,
                                    "name": "Layout"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Raksa (Brij Mohan)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Mannat Group (+91 81889 72797)"
                                        },
                                        "type": {
                                            "label": "Image"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "image",
                                        "type": "collection",
                                        "label": "Image",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Media ID"
                                            },
                                            {
                                                "name": "link",
                                                "type": "url",
                                                "label": "Media URL"
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": "Caption"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 37,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2736378
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "interactive",
                                "fromId": "382238911636691",
                                "interactive": {
                                    "body": {
                                        "text": "अपना ऑप्शन चुनें 👇"
                                    },
                                    "type": "button",
                                    "action": {
                                        "buttons": [
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "location",
                                                    "title": "लोकेशन मैप देखें"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "gallery",
                                                    "title": "प्लॉट गैलरी देखें"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "visit",
                                                    "title": "विजिट बुक करें"
                                                }
                                            }
                                        ]
                                    },
                                    "footer": {},
                                    "header": {}
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 900
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Interactive"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Mannat Group (+91 81889 72797)"
                                        },
                                        "interactive": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Reply Buttons"
                                                },
                                                "action": {
                                                    "nested": {
                                                        "buttons": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "header": {
                                                    "nested": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Raksa (Brij Mohan)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "interactive",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "list",
                                                        "button"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "action",
                                                "spec": [
                                                    {
                                                        "name": "buttons",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "hidden",
                                                                "label": "Button Type"
                                                            },
                                                            {
                                                                "name": "reply",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "Button ID",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 256
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Button Title",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 20
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Reply"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Buttons",
                                                        "required": true,
                                                        "validate": {
                                                            "maxItems": 3
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Action"
                                            },
                                            {
                                                "name": "body",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Body Text",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1024
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Body"
                                            },
                                            {
                                                "name": "header",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Header Type",
                                                        "validate": {
                                                            "enum": [
                                                                "text",
                                                                "image",
                                                                "video",
                                                                "document"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Header"
                                            },
                                            {
                                                "name": "footer",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Footer Text",
                                                        "validate": {
                                                            "max": 60
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Footer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Interactive"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 29,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2736378
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].interactive.button_reply.id}}",
                                            "b": "visit",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "interactive",
                                "fromId": "382238911636691",
                                "interactive": {
                                    "body": {
                                        "text": "कृप्या विजिट बुक के लिए इस लिंग पर फार्म भरें 👇 \nhttps://whatsform.com/9lqqeq\n\nकॉल करें 👇 \nhttps://pariflex1.github.io/call/7905845157\n\nव्हाट्सऐप करें 👇\nhttps://wa.me/917905845157\n\nअपना ऑप्शन चुनें 👇"
                                    },
                                    "type": "button",
                                    "action": {
                                        "buttons": [
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "location",
                                                    "title": "लोकेशन मैप देखें"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "gallery",
                                                    "title": "प्लॉट गैलरी देखें"
                                                }
                                            },
                                            {
                                                "type": "reply",
                                                "reply": {
                                                    "id": "layout",
                                                    "title": "नक्शा प्लान देखें"
                                                }
                                            }
                                        ]
                                    },
                                    "footer": {},
                                    "header": {}
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 1200,
                                    "name": "Menu Options"
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Interactive"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Mannat Group (+91 81889 72797)"
                                        },
                                        "interactive": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Reply Buttons"
                                                },
                                                "action": {
                                                    "nested": {
                                                        "buttons": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "header": {
                                                    "nested": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Raksa (Brij Mohan)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "interactive",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "list",
                                                        "button"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "action",
                                                "spec": [
                                                    {
                                                        "name": "buttons",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "hidden",
                                                                "label": "Button Type"
                                                            },
                                                            {
                                                                "name": "reply",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "Button ID",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 256
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Button Title",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 20
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Reply"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Buttons",
                                                        "required": true,
                                                        "validate": {
                                                            "maxItems": 3
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Action"
                                            },
                                            {
                                                "name": "body",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Body Text",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1024
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Body"
                                            },
                                            {
                                                "name": "header",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Header Type",
                                                        "validate": {
                                                            "enum": [
                                                                "text",
                                                                "image",
                                                                "video",
                                                                "document"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Header"
                                            },
                                            {
                                                "name": "footer",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Footer Text",
                                                        "validate": {
                                                            "max": 60
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Footer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Interactive"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 33,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2736379
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.messages[].text.body}}",
                                            "b": "Date",
                                            "o": "text:contain"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{1.messages[].text.body}}",
                                            "b": "Time",
                                            "o": "text:contain"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{1.messages[].text.body}}",
                                            "b": "Plot Visit Booking",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{formatDate(now; \"DD-MM-YYYY HH:mm\")}}",
                                    "1": "{{1.contacts[].profile.name}}",
                                    "2": "{{1.contacts[].wa_id}}",
                                    "3": "For Raksa Visite {{1.messages[].text.body}}",
                                    "4": "Raksa Plot 649/-"
                                },
                                "sheetId": "Book Visit",
                                "spreadsheetId": "/1HhOZTWv5UYll4QAtJk6gPDVXv4mt5127n5AaTdBZbag",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 1500,
                                    "name": "Visit Booking"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Select by path"
                                        },
                                        "sheetId": {
                                            "label": "Book Visit"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "The Risign"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Date (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Name (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Contact (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Message (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Site (E)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (dhanistadigital@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Date (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Name (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Contact (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Message (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Site (E)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 34,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2736378
                            },
                            "mapper": {
                                "to": "917905845157",
                                "text": {
                                    "body": "Raksa Plot 649/-\nMessage: {{1.messages[].text.body}}\n\nName: {{1.contacts[].profile.name}}\nContact: {{1.contacts[].wa_id}}\n\nhttps://wa.me/{{1.contacts[].wa_id}}\n",
                                    "preview_url": false
                                },
                                "type": "text",
                                "fromId": "382238911636691"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 1500
                                },
                                "restore": {
                                    "expect": {
                                        "text": {
                                            "nested": {
                                                "preview_url": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "type": {
                                            "label": "Text"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Mannat Group (+91 81889 72797)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Raksa (Brij Mohan)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "body",
                                                "type": "text",
                                                "label": "Body",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            },
                                            {
                                                "name": "preview_url",
                                                "type": "boolean",
                                                "label": "Preview URL",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}